.#{$prefix}{
    &-expand{

        &.expand-canceled{
            .bf{
                &-expand{
                    &--deploy-area{
                        height: auto !important;
                        &__shadow-box{
                            display: none;
                        }
                    }
                    &__button{
                        display: none;
                    }
                }
            }
        }

        &--deploy-area{
            overflow: hidden;
            position: relative;
            transition: height 600ms ease;
            .#{$prefix}{
                &-expand{
                    &--deploy-area{
                        &__shadow-box{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 180px;
                        z-index: 1;
                        pointer-events: none;
                        box-shadow: inset 0px -174px 58px -82px rgba(255,255,255,1);
                        opacity: 1;
                        transition: all 300ms ease;
                        }
                    }
                }
            }

            &.active{
                transition: height 600ms ease;
                .#{$prefix}{
                    &-expand{
                        &--deploy-area{
                            &__shadow-box{
                                opacity: 0;
                                box-shadow: inset 0px -174px 58px -82px rgba(255,255,255,1);
                                transition: all 300ms ease;
                            }
                        }
                    }
                }
            }

        }

        &--content{
            padding-bottom: 10px;
            overflow: hidden;
        }

        &__button{
            cursor: pointer;
            font-size: 14px;
            color: $color-secondary;
            border: none;
            text-decoration: underline;
            background: none;
            text-align: center;
            margin: 80px auto 0;
            display: flex;
            position: relative;
            &.active{
                background: none;
            }
        }

        @media only screen and (max-width: $screen-md-min - 1) {
            &--mobile-disabled{
                .#{$prefix}{
                    &-expand{
                        &__button{
                            display: none;
                        }
                        &--deploy-area{
                            height: auto !important;
                            &__shadow-box{
                                display: none;
                            }
                        }
                    }
                } 
            }
        }

    }
}

.example-content{
    background: white;
    padding: 20px;
}