

.#{$prefix}{
    &-floating-element{
        position: fixed;
        &--example-mode{
            background-color: $color-white;
            padding: 24px;
            text-align: center;
            top: 64px;
            left: 0;
            height: auto;
            width: 100%;
            z-index: 2;
            transition: all 300ms ease;
            &.active{
                background-color: $color-secondary;
                color: $color-white;
                transition: all 300ms ease;
            }
        }
    }
}