

.#{$prefix}{
    &-tabs {
        border-bottom: solid 1px #B5C9EA;
        display: flex;
        &__button {
            font-size: 14px;
            background: none;
            border: none;
            flex-grow: 1;
            padding: 14px 0;
            color: $color-secondary;
            position: relative;
            cursor: pointer;
            display: flex;
            justify-content: center;
            margin: 0;
            font-family: $font-family-base;

            *{
                pointer-events: none;
            }

            &:before{
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $color-secondary;
                opacity: 0;
                transition: all 300ms ease;
            }

            &.active{
                &:before{
                    opacity: 1;
                    transition: all 300ms ease;
                }
            }
        }
        &--target{
            &__element{
                overflow: hidden;
                opacity: 0;
                max-height: 0;
                transition: opacity 600ms ease;
                &.active{
                    opacity: 1;
                    max-height: 100%;
                    transition: opacity 600ms ease;
                }
            }

            &--group{
                margin-top: 30px;
            }
            
        }
    }
}