

[class^="#{$prefix}-border-top"],
[class*=" #{$prefix}-border-top"]{
    border-top: solid 1px $color-base;
}
[class^="#{$prefix}-border-right"],
[class*=" #{$prefix}-border-right"]{
    border-right: solid 1px $color-base;
}
[class^="#{$prefix}-border-bottom"],
[class*=" #{$prefix}-border-bottom"]{
    border-bottom: solid 1px $color-base;
}
[class^="#{$prefix}-border-left"],
[class*=" #{$prefix}-border-left"]{
    border-left: solid 1px $color-base;
}

.#{$prefix}{
    &-border{
        &-top, &-right, &-bottom, &-left{
            &--secondary{
                border-color: $color-secondary;
            }
            &--warning{
                border-color: $color-vivid-orange-200;
            }
            &--gray-blue-200{
                border-color: $color-gray-blue-200;
            }
            &--dark-blue-600{
                border-color: $color-dark-blue-600;
            }
        }
    }
}