
/*------------------------------------------------------------------------------System NEW brand colors */

$color-primary-ultra-orange-50: #AD6300;
$color-primary-ultra-orange-20: #FFA733;
$color-primary-ultra-orange-5: #FFE7C7;
$color-what-differences: #FFF6EB;
$color-funnel-gray: #f7fafd;
$color-background-grey-box2: #F5F9FF;
$color-primary-deep-blue-5: #EBF3FF;
$color-primary-deep-blue-90: #002154;
$color-primary-blue-hover: #4c87c0;
$color-text-secondary-active: #0054A6;
$color-border-secondary-active: #084AB5;

$color-text-page-secondary-active: #474747;


/*------------------------------------------------------------------------------System brand colors (Main color 1000) */

$color-dark-blue-200: #ced2d9;
$color-dark-blue-400: #9ca5b3;
$color-dark-blue-600: #6b798d;
$color-dark-blue-800: #394c67;
$color-dark-blue-1000: #081f41;
$color-dark-blue-1200: #061934;
$color-dark-blue-1400: #081f41;
$color-dark-blue-1600: #030c1a;
$color-dark-blue-1800: #02060d;

$color-light-blue-30: #b5c9ea;
$color-light-blue-200: #cedbf1;
$color-light-blue-400: #9cb7e3;
$color-light-blue-600: #6b93d5;
$color-light-blue-800: #396fc7;
$color-light-blue-1000: #084bb9;
$color-light-blue-1200: #063c94;
$color-light-blue-1400: #081f41;
$color-light-blue-1600: #031e4a;
$color-light-blue-1800: #020f25;

$color-valentine-red-200: #fee0e1;
$color-valentine-red-400: #fdc0c3;
$color-valentine-red-600: #fba1a4;
$color-valentine-red-800: #fa8186;
$color-valentine-red-1000: #f96268;
$color-valentine-red-1200: #c74e53;
$color-valentine-red-1400: #953b3e;
$color-valentine-red-1600: #64272a;
$color-valentine-red-1800: #321415;

$color-yellow-200: #fff9db;
$color-yellow-400: #fff3b6;
$color-yellow-600: #ffed92;
$color-yellow-800: #ffe76d;
$color-yellow-1000: #ffe149;
$color-yellow-1200: #ccb43a;
$color-yellow-1400: #99872c;
$color-yellow-1600: #665a1d;
$color-yellow-1800: #332d0f;

$color-gray-blue-200: #ebedf0;
$color-gray-blue-400: #d7dbe1;
$color-gray-blue-600: #c4c9d2;
$color-gray-blue-800: #b0b7c3;
$color-gray-blue-1000: #9ca5b4;
$color-gray-blue-1200: #7d8490;
$color-gray-blue-1400: #5e636c;
$color-gray-blue-1600: #3e4248;
$color-gray-blue-1800: #1f2124;

$color-background-grey-1000: #f0f4f6;

$color-bright-orange-200: #fee0ce;
$color-bright-orange-400: #fcc19c;
$color-bright-orange-600: #fba16b;
$color-bright-orange-800: #f98239;
$color-bright-orange-1000: #f86308;
$color-bright-orange-1200: #c64f06;
$color-bright-orange-1400: #953b05;
$color-bright-orange-1600: #632803;
$color-bright-orange-1800: #321402;

$color-vivid-orange-200: #ffde99;
$color-vivid-orange-400: #ffd680;
$color-vivid-orange-600: #ffce66;
$color-vivid-orange-800: #ffc64d;
$color-vivid-orange-1000: #ffad00;
$color-vivid-orange-1200: #cc8a00;
$color-vivid-orange-1400: #996800;
$color-vivid-orange-1600: #664500;
$color-vivid-orange-1800: #332300;

$color-green-aqua-200: #ccf4ee;
$color-green-aqua-400: #99e8dc;
$color-green-aqua-600: #66ddcb;
$color-green-aqua-800: #33d1b9;
$color-green-aqua-1000: #00c6a8;
$color-green-aqua-1200: #009e86;
$color-green-aqua-1400: #007765;
$color-green-aqua-1600: #004f43;
$color-green-aqua-1800: #002822;

$color-bright-navy-200: #d7d7eb;
$color-bright-navy-400: #afafd6;
$color-bright-navy-600: #8888c2;
$color-bright-navy-800: #6060ad;
$color-bright-navy-1000: #383899;
$color-bright-navy-1200: #2d2d7a;
$color-bright-navy-1400: #22225c;
$color-bright-navy-1600: #16163d;
$color-bright-navy-1800: #0b0b1f;

$color-bright-purple-200: #f2dffb;
$color-bright-purple-400: #e6bff7;
$color-bright-purple-600: #d99ef4;
$color-bright-purple-800: #cd7ef0;
$color-bright-purple-1000: #c05eec;
$color-bright-purple-1200: #9a4bbd;
$color-bright-purple-1400: #73388e;
$color-bright-purple-1600: #4d265e;
$color-bright-purple-1800: #26132f;

$color-vivid-purple-200: #e5e4ff;
$color-vivid-purple-400: #cbc8ff;
$color-vivid-purple-600: #b0adff;
$color-vivid-purple-800: #9691ff;
$color-vivid-purple-1000: #7c76ff;
$color-vivid-purple-1200: #635ecc;
$color-vivid-purple-1400: #4a4799;
$color-vivid-purple-1600: #322f66;
$color-vivid-purple-1800: #191833;

$color-base: $color-dark-blue-1000;
$color-primary: $color-dark-blue-1000;
$color-primary-hover: #2c71b0;

// $color-secondary: #084bb9;
$color-secondary: $color-text-secondary-active;

$color-disabled: #9b9b9b;

$color-tertiary: #003366;

$color-bg: #f3f3f3;
$color-white: #ffffff;
$color-black: #000000;
$color-paragraph: $color-primary;
$color-mid-grey: #f6f7f8;
$color-divider: $color-dark-blue-400;
$color-progress-bar: #d4d8de;
$color-bg-footer: $color-white;
$color-wireframe-primary: $color-gray-blue-1000;
$color-bg-info-box: $color-gray-blue-200;
$color-rss-grey: #c4c4c4;
$color-text-for-copy: #bfd1ec;

$color-legend-1: #bec7f9;
$color-legend-2: #f5b7ac;
$color-legend-1-dark: #6371f2;
$color-legend-2-dark: #de6046;

$color-cover: #396fc7;

$color-text-top-line: #ffad00;
$color-share-menu-hover: $color-background-grey-1000;

$color-text-dashed-bg: #cedbf1;

$color-grey-type-box: #f6f7f8;

$color-vivid-orange-1000: #ffad00;

$color-secondary-bright-purple: #c05eec;


/*------------------------------------------------------------------------------React addons project colors */

$color-bg-main-cont: #084BB9;
$color-bg-main-cont: #084BB9;
$color-bg-violete: #8688FE;
$color-error-box-bg: #979797;
$color-error: #ff6d70;
$color-card-info-border: #a8c4e7;

$color-highlight-violete: #6767DB;
$color-back-button: #b5bcc6;

$color-text-tag-bg-base: #E6EFFF;

$color-rejected: #B0272B;
$color-aqua-border: #EDFBF9;
$color-rejected-border: #F9F0F0;
$color-pending-border: #FFF6F1;

$color-footer-bottom-bar: #203554;
$color-alert-wellcome-bg: #E3ECFE;

$color-loader-girl-bg: #FFFADE;